@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body
{
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#787E7E,#1D1D1D);
}
.head
{
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
}
.universe
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.planet
{
    position: relative;
}
.sun
{
    height: 315px;
    width: 315px;
    border-radius: 50%;
    background: linear-gradient(#FFA701,#FE7313,#3F4042,#3F4042,#343635);
}
.selector
{
    z-index: 100;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
}
.sel1
{
    font-size: 0.9em;
    margin-top: -550px;
    margin-left: 850px;
    width: 255px;
    height: 22px;
    border-radius: 25px;
    box-shadow: inset 5px 7px 10px #AFB1B0,
                inset -5px -25px 15px #AFB1B0,
                -5px -5px 15px rgba(255, 255, 255, 0.5),                
                 5px 5px 15px rgba(0, 0, 0, 0.75);
}
.log
{
    position: absolute;
    left: 5px;
    bottom: 0px;
}
.sig
{
    position: absolute;
    left: 138px;
    bottom: 0px;

}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #fff;
    width: 50px;
    height: 50px;
    margin: 15px;
}
.sel2
{
    width: 760px;
    height: 40px;
    border-radius: 40px;
    box-shadow: -8px -10px 15px rgba(255, 255, 255, 0.5),               
                8px 10px 8px rgba(0, 0, 0, 0.75);
}
.apps
{
    position: absolute;
    bottom: 10px;
    transform: scale(0.6);
}
.start
{
    position: absolute;
    left: 10px;
    bottom: 6px;
    font-size: 1.2rem;
}
.end
{
    position: absolute;
    left: 610px;
    bottom: 8px;
}
input
{
    position: relative;
    background: transparent;
	color: #fff;
    border: none;
    width: 590px;
    height: 30px;
    bottom: 12px;
    left: -20px;
    font-size: 1.3em;
}
input::placeholder 
{
    color: #fff;
}
.dropbtn 
{
    background-color: transparent;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
}  
.dropdown 
{
    position: relative;
    display: inline-block;
    top: 14px;
}  
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  
.dropdown-content a 
{
    color: #fff;
    text-decoration: none;
    display: block;
}  
.dropdown-content a:hover 
{
	background-color: transparent;
}
  
.dropdown:hover .dropdown-content 
{
	display: block;
}
  
.dropdown:hover .dropbtn 
{
	background-color: transparent;
}